@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
}



h4 {
    word-break: break-word;

    margin-top: 15px;
}

h6 {
    font-weight: bold;
}

.user-lists-container {
    display: none;
}

#scale_slider {
    margin-top: 15px;
    padding-left: 0;
    padding-right: 0;
}

#scale-graph-container {
    padding-left: 0;
    padding-right: 0;
}

.modebar {
    display: none !important;
}

li {
    cursor: pointer;
}

.form-check,
.form-check-label {
    cursor: pointer;
}

.form-check-label.form-label {
    cursor: pointer;
    width: 100%;
}

.form-check-input {
    cursor: pointer;
}

.form-check.form-switch {
    cursor: auto;
    padding-top: 0.2rem;
}

body::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #FFF;
}

body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #555;
}

.content-card p::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

.content-card p::-webkit-scrollbar {
    width: 5px;
    background-color: #FFF;
}

.content-card p::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #555;
}

.accordion-button {
    font-size: 1.5rem;
    word-break: break-all;
}

.feature-description {
    margin-bottom: 1rem;
}

.feature-description>.accordion-header>.accordion-button {
    font-size: 1rem !important;
}

.feature-description>.accordion-collapse {
    font-size: 0.8rem !important;
}

.feature-description>.accordion-collapse>.accordion-body {
    padding: 20px 15px 0;
}

.feature-description>.accordion-collapse>.accordion-body>ol {
    padding-left: 15px;
}

#scaled_container,
#weighted_container {
    padding-left: 0;
    margin-bottom: 1rem;
}

.reset-button-container,
.apply-button-container {
    width: 100%;
    display: inline-block;
}

#reset_graph_button,
#apply_button {
    float: right;
    margin: 1.5rem auto 0;
}

h5 {
    margin-top: 1rem;
}

.dropdown-menu.show {
    padding-left: 0.75rem;
}

.Select.is-clearable.is-searchable.Select--multi {
    height: 100%;
}

.Select.is-clearable.is-searchable.Select--multi>.Select-control {
    height: 100%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#titles_language_titles>button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
}

.dropdown-menu.show {
    padding-left: 0rem;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #555;
}

.Select-value {
    margin-top: 5px;
}

.Select-value-label span {
    color: #007EFF !important;
}

.Select-value-label div {
    color: #007EFF !important;
}

.Select-clear-zone,
.Select-arrow-zone {
    font-size: 1.5rem;
}

.Select-arrow-zone {
    padding-right: 0;
}

.Select-clear-zone:hover,
.Select-arrow-zone:hover {
    background-color: rgb(0 0 0 / 5%);
}

.Select-value-icon {
    font-size: 1rem !important;
    height: 100%;
    display: flex !important;
    align-items: center !important;
}

.Select-value {
    display: flex !important;
    flex-direction: row !important;
    align-content: center !important;
    align-items: center !important;
}

.Select-multi-value-wrapper {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    padding-bottom: 5px !important;
}

#output_container>.mt-5>.card {
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    width: 16rem;
    height: 20rem;
    margin-bottom: 3rem;
    border-radius: 12px;
    padding: 0px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12),
        .3s box-shadow,
        .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.content-card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    z-index: 1001;
}

.flex-column.d-flex.content-card {
    padding: 0px;
    object-fit: cover;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 12px;
    padding: 0px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12),
        .3s box-shadow,
        .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12)
}

.dropdown-image {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 40px !important;
    width: 40px !important;
    background-position: 50% !important;
    border-radius: 3px !important;
}

.dropdown-title {
    font-weight: 600 !important;
    font-size: 15px !important;
    color: #5c728a !important;
}

.dropdown-info {
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #5c728a !important;
}

.dropdown-text-container {
    font-size: 15px !important;
    padding-left: 10px !important;
}

.dropdown-item {
    align-items: center !important;
    display: grid !important;
    grid-template-columns: 40px auto !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0);
}

.probability-score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.probability-container {
    text-align: right;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 15px;
    top: 0;
    right: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.card-image-container {
    height: 65%;
    overflow: hidden;
    display: grid;
}

.card-image-large {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: cover;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

.card-image-small {
    height: 100%;
    filter: blur(5px);
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: cover;
    grid-column: 1;
    grid-row: 1;
}

.card-title {
    text-decoration: none;
    z-index: 999;
    position: relative;
}

.card-description {
    height: 95px;
    overflow-y: auto;
    width: 100%;
    word-wrap: break-word;
    z-index: 999;
    position: relative;
}

.card-text-container {
    margin: 0px;
    padding: 10px;
    width: 100%;
    height: 50%;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Select-menu-outer {
    cursor: pointer !important;
}

.dropdown-menu.show > button:hover {
    background-color: #e9ecef !important;
}
