@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --rotation: 0deg;
    --window-width: -1;
    --graph-margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    word-break: break-word;
    overflow-x: hidden;
}


h4 {
    margin-top: 15px;
}

h6 {
    font-weight: bold;
}

.user-lists-container {
    display: none;
}

#scale_slider {
    margin-top: 15px;
    padding-left: 0;
    padding-right: 0;
}

#scale-graph-container {
    padding-left: 0;
    padding-right: 0;
}

.modebar {
    display: none !important;
}

li {
    cursor: pointer;
}

.form-check,
.form-check-label {
    cursor: pointer;
}

.form-check-label.form-label {
    cursor: pointer;
    width: 100%;
}

.form-check-input {
    cursor: pointer;
}

.form-check.form-switch {
    cursor: auto;
    padding-top: 0.2rem;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #FFF;
}

body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #555;
}

.content-card p::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

.content-card p::-webkit-scrollbar {
    width: 5px;
    background-color: #FFF;
}

.content-card p::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #555;
}

.accordion-button {
    font-size: 1.5rem;
    word-break: break-word !important;
}

.feature-description {
    margin-bottom: 1rem;
}

.feature-description>.accordion-header>.accordion-button {
    font-size: 1rem !important;
}

.feature-description>.accordion-collapse {
    font-size: 0.8rem !important;
}

.feature-description>.accordion-collapse>.accordion-body {
    padding: 20px 15px 0;
}

.feature-description>.accordion-collapse>.accordion-body>ol {
    padding-left: 15px;
}

#scaled_container,
#weighted_container {
    padding-left: 0;
    margin-bottom: 1rem;
}

.reset-button-container,
.apply-button-container {
    width: 100%;
    display: inline-block;
    padding-right: 0;
}

#reset_graph_button,
#apply_button {
    float: right;
    margin: 1.5rem auto 0;
}

h5 {
    margin-top: 1rem;
}

.dropdown-menu.show {
    padding-left: 0.75rem;
}

.Select.is-clearable.is-searchable.Select--multi {
    height: 100%;
}

.Select.is-clearable.is-searchable.Select--multi>.Select-control {
    height: 100%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#titles_language_titles>button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
}

.main-column{
    height: 100%;
}

#not_found_alert {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.alert-link {
    text-underline-position: under;
}

.dropdown-menu.show {
    padding-left: 0rem;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #555;
}

.Select-value {
    margin-top: 5px;
}

.Select-value-label span {
    color: #007EFF !important;
}

.Select-value-label div {
    color: #007EFF !important;
}

.Select-clear-zone,
.Select-arrow-zone {
    font-size: 1.5rem;
    width: 30px;
}

.Select-clear,
.Select-arrow {
    font-size: 1.5rem;
}

.Select-arrow-zone {
    padding-right: 0;
}

.Select-clear-zone:hover,
.Select-arrow-zone:hover {
    background-color: rgb(0 0 0 / 5%);
}

.Select-value-icon {
    font-size: 1rem !important;
    height: 100%;
    display: flex !important;
    align-items: center !important;
}

.Select-value {
    display: flex !important;
    flex-direction: row !important;
    align-content: center !important;
    align-items: center !important;
}

.Select-multi-value-wrapper {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    padding-bottom: 5px !important;
}

#output_container>.mt-5>.card {
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    width: 16rem;
    height: 20rem;
    margin-bottom: 3rem;
    border-radius: 12px;
    padding: 0px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12),
        .3s box-shadow,
        .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.content-card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    z-index: 1001;
}

.flex-column.d-flex.content-card {
    padding: 0px;
    object-fit: cover;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 12px;
    padding: 0px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12),
        .3s box-shadow,
        .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12)
}

.dropdown-image {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 40px !important;
    width: 40px !important;
    background-position: 50% !important;
    border-radius: 3px !important;
}

.dropdown-title {
    font-weight: 600 !important;
    font-size: 15px !important;
    color: #5c728a !important;
    white-space: normal;
}

.dropdown-info {
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #5c728a !important;
}

.dropdown-text-container {
    font-size: 15px !important;
    padding-left: 10px !important;
}

.dropdown-item {
    align-items: center !important;
    display: grid !important;
    grid-template-columns: 40px auto !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0);
}

.probability-score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.probability-container {
    text-align: right;
    word-break: keep-all;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 15px;
    top: 0;
    right: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.card-rating-container {
    color: white;
    font-weight: bold;
    display: inline-block;
    font-size: 0.75rem;
    border-radius: 20px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    right: 15px;
    bottom: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

.card-image-container {
    height: 60%;
    overflow: hidden;
    display: grid;
    position: relative;
}

.card-image-large {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: cover;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

.card-image-small {
    height: 100%;
    filter: blur(5px);
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: cover;
    grid-column: 1;
    grid-row: 1;
}

.card-title {
    text-decoration: none;
    z-index: 999;
    position: relative;
}

.card-description {
    height: 6.5rem;
    overflow-y: auto;
    width: 100%;
    word-wrap: break-word;
    z-index: 999;
    position: relative;
}

.card-text-container {
    margin: 0px;
    padding: 10px;
    width: 100%;
    height: 60%;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Select-menu-outer {
    cursor: pointer !important;
}

.dropdown-menu.show>button:hover {
    background-color: #e9ecef !important;
}

.accordion-button {
    word-break: break-word;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0 -1em 1.5em;
}

.header-container> :last-child {
    margin-left: auto;
    height: fit-content;
    z-index: 1;
    transition: 0.75s;
}

.header-container> :last-child>i::before {
    transition: 0.75s;
    transform: rotate(var(--rotation));
}

.search-container {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -1em;
}

.search-container>*,
.header-container>* {
    margin: 0 1em 1em;
}

.header-container> :first-child {
    margin-left: 16px;
}

.searchbar-container {
    flex-grow: 1;
}

.searchbar-container+div {
    margin-left: auto;
}

#info_button {
    position: sticky;
}

#item_searchbar_container>ul {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.accordion {
    padding: 0;
}

.settings-accordion {
    margin: 0;
}

.settings-card>.card-body>.row>h2>div {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.title-mobile {
    display: none;
    font-size: 1.5rem;
}

.settings-column {
    display: block !important;
}

/* style moved from layout.py */

#input_group {
    /* flex-wrap: nowrap; */
    display: grid;
    /* grid-template-columns: 1fr max-content; */
    grid-template-columns: max-content max-content 1fr max-content;
}

.Select.has-value.is-clearable.is-searchable.Select--multi {
    display: block;
}

.bi.bi-question-circle-fill {
    font-weight: bold;
}

.question-mark {
    margin-left: 5px;
    font-size: 1rem;
    vertical-align: top;
    position: relative;
    top: -55px;
    left: 15vw;
    cursor: pointer;
    z-index: 1000;
}

#alert {
    height: fit-content;
    margin-left: 0rem;
}

.user-lists-description {
    margin: 1rem 0;
    display: inline-block;
}

.feature-alert {
    height: fit-content;
    font-size: 0.8em;
    margin: 0px;
    margin-bottom: 1rem;
    padding: 2px 5px;
}

#username_searchbar {
    display: block;
    width: 100%;
}

#item_searchbar {
    display: none;
}

.output-container {
    height: fit-content;
}

.search-container {
    min-height: 100px;
}

@media screen and (max-width: 1600px) {

    .card-body>.row>.col-2 {
        padding: 0 5px;
    }

    #graph_container.container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 1100px) {

    .title-mobile {
        display: block;
    }

    .settings-accordion>.accordion>.accordion-item>.accordion-header {
        display: none !important;
    }

    .settings-accordion>.accordion>.accordion-item {
        border: none;
    }

    .settings-card>.card-body {
        padding: 5vw 5vw 5vh 10vw;
    }

    .settings-card>.card-body>.row>h2>div> :first-child {
        display: none;
    }

    .settings-card>.card-body>.row>h2>div>* {
        width: fit-content;
        margin-left: auto;
    }

    .main-column>.card,
    .settings-column>.card {
        border: none;
    }

    .settings-column {
        display: none;
    }

    #weighted_container,
    #scaled_container,
    #graph_container {
        margin: 0 !important;
    }

    .accordion {
        padding: 0;
    }

    /*TEMPORARY*/
    .main-card {
        transition: 0.75s;
        /*transform: translate(-100%, 0);*/
    }

    .main-card,
    .settings-card {
        margin: 0 !important;
    }

    .main-card-body,
    .settings-column {
        padding: 0;
    }

    .main-column,
    .settings-column {
        transition: 0.75s;
    }

    .main-card-body>.row {
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start !important;
    }

    .main-column.col-12 {
        padding: 0;
    }
}

@media screen and (max-width: 835px) {
    #output_container>.row>.card {
        width: 20rem !important;
        height: 24rem !important;
    }

    .card-description {
        height: 7.5rem;
    }
}

@media screen and (max-width: 768px) {

    /*#username_searchbar_container {
        padding: 0 !important;
    }

    .main-column > .card > .card-body > .row {
        flex-direction: column;
    }

    .searchbar-container {
        margin-top: -55px;
    }

    #item_searchbar_container > ul {
        display: flex;
        flex-direction: column-reverse;
    }

    #item_searchbar {
        margin-top: 1rem;
        margin-right: 1em;
        width: 93vw;
    }

    #item_searchbar > .Select > .Select-control {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    #titles_language_titles {
        margin-left: auto;
        margin-right: 1em;
    }*/

    .input-group {
        height: 100%;
        margin: 0px;
        /*display: grid;*/
        /*justify-content: center;*/
    }

    /*.input-group > button {
        grid-column: 1 / 3;
        grid-row: 1;
        width: 100%;
    }

    .input-group > button {
        grid-column: 1 / 3;
        grid-row: 1;
        width: 100%;
    }

    .input-group > .input-group-text {
        width: fit-content;
        grid-column: 1;
        grid-row: 2;
        /* width: fit-content;
    }*/

    /*.input-group > .form-control {
        grid-column: 2;
        grid-row: 2;
        width: 100%;
    }*/

    #item_searchbar_container {
        margin-top: -55px;
    }

    #item_searchbar {
        grid-row: 2;
        grid-column: 1/3;
        margin-top: 1rem;
    }

    #titles_language_titles {
        grid-row: 1;
        grid-column: 2;
        margin-bottom: 1em;
        z-index: 2;
    }

    #titles_language_titles>button {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    #item_searchbar>.Select>.Select-control {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .search-container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        margin: 0;
    }

    .search-container> :first-child {
        grid-row: 1;
        margin-left: 0;
        z-index: 1;
    }

    .searchbar-container {
        grid-row: 2;
        margin: 0;
    }

    .search-container> :last-child {
        grid-row: 3;
        margin-right: 0;
        margin-top: 1em;
    }

    /* FIXME: language selector has incorrect left borders when search switch to item state */
}

@media screen and (max-width: 460px) {

    #info_container {
        left: 0 !important;
        width: 100% !important;
    }

    #input_group {
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-columns: none !important;
    }

    #input_group>button:first-of-type {
        grid-row: 1;
        grid-column: 1 / 4;
        margin-right: 0.5rem;
    }

    #input_group>button:last-of-type {
        grid-row: 1;
        grid-column: 4 / 7;
        margin-left: 0.5rem;
    }

    #input_group_text {
        /* width: fit-content; */
        grid-row: 2;
        grid-column: 1 / 2;
        height: fit-content;
        align-self: end;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-top: 1em;
    }

    #item_searchbar {
        grid-column: 1 / 7;
        margin-top: 1rem;
    }

    #username_searchbar {
        grid-row: 2;
        grid-column: 2 / 7;
        width: 100%;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-top: 1em;
    }

    .header-container {
        flex-direction: column-reverse !important;
    }

    .settings-accordion>.accordion>.accordion-item>.accordion-collapse>.accordion-body {
        padding: 0;
    }

    #graph {
        margin-left: -0.5rem;
        /*var(--graph-margin);*/
        width: 100vw;
    }

    #username_searchbar_container>.input-group {
        display: grid;
        grid-template-columns: min-content 1fr 1fr;
    }

    #searchbar_container>.input-group>button {
        border-radius: 4px;
    }

    .searchbar-container {
        width: 100%;
    }

    #item_searchbar>.Select>.Select-control {
        display: grid !important;
    }

    .Select-clear-zone {
        grid-row: 1;
        width: 100% !important;
    }

    .Select-arrow-zone {
        grid-row: 3;
        width: 100% !important;
    }
}

@media screen and (max-width: 350px) {
    .content-card:hover {
        transform: scale(1) !important;
    }
}

@media screen and (max-width: 250px) {
    /* #item_searchbar_container {
        margin-top: -1em;
    } */

    /* #input_group>button:first-of-type {
        grid-row: 1;
        grid-column: 1;
    }

    #input_group>button:last-of-type {
        grid-row: 2;
        grid-column: 1;
    }

    #username_searchbar {
        grid-row: 3;
        grid-column: 1;
    }

    #item_searchbar {
        grid-row: 3;
        grid-column: 1;
    } */

}

@media screen and (max-width: 210px) {
    #info_button {
        bottom: 5px !important;
        left: 5px !important;
    }

    h2 {
        font-size: 1.15rem;
        padding: 0.5rem;
    }

    .header-container> :last-child {
        width: 100%;
    }

    .search-container>* {
        padding: 0 0.5rem;
        width: 100%;
    }

    .main-column>.card>.card-body>.row>.col>.row>.col-2>.form-check.form-switch {
        display: flex;
        flex-direction: column;
    }

    .main-column>.card>.card-body>.row>.col>.row>.col-2>.form-check.form-switch>label {
        width: fit-content;
        margin-left: -40px;
    }

    .main-column>.card>.card-body>.row {
        margin: 0;
    }

    .main-column>.card>.card-body {
        padding: 0px;
    }

    #searchbar_container>.input-group>button:first-of-type {
        grid-row: 1;
        grid-column: 1;
        margin-top: 1em;
        margin-right: 0;
    }

    #searchbar_container>.input-group>button:last-of-type {
        grid-row: 2;
        grid-column: 1;
        margin-top: 1em;
        margin-left: 0;
    }

    #searchbar_container>.input-group>.input-group-text {
        display: none;
    }

    #username_searchbar {
        grid-row: 3;
        grid-column: 1;
        margin-top: 1em;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    #item_searchbar {
        grid-row: 3;
        grid-column: 1;
    }

    #input_group_text {
        display: none !important;
    }

    #generate_button {
        width: 100%;
        margin-right: 0.25em;
    }

    #output_container>.row>.card {
        height: 20rem !important;
    }

    .card-image-container {
        height: 50%;
    }

    .card-text-container {
        height: 60%;
    }

    .card-description {
        height: 7.4rem;
    }

    .dropdown-image {
        display: none;
    }

    .Select-value-label {
        padding: 0;
        padding-left: 5px;
    }

    .dropdown-item {
        grid-template-columns: 1fr !important;
        padding-left: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-right: 10px !important;
    }

    .dropdown-text-container {
        padding-left: 0 !important;
    }
}
